{
  "extends": [
    "plugin:react/recommended",
    "react-app",
    "eslint:recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "^17.0.1"
    }
  },
  "plugins": ["react", "react-hooks", "prettier"],
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off"
  }
}
